* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html, #root {
  height: 100%;
  width: 100%;
  font-family: 'Segoe UI', sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.page-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: #ababab;
  background: linear-gradient(140deg, rgba(171, 171, 171, 1) 0%, rgba(255, 224, 224, 1) 50%, rgba(255, 255, 255, 1) 100%);
}

.login-container {
  display: flex;
  width: 900px;
  height: 500px;
  background: rgb(255, 255, 255);
  border-radius: 12px;
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
}

.login-left {
  flex: 1;
  background: #ff0000c7;
  color: rgb(29, 29, 29);
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  position: relative;
}

.logo {
  position: absolute;
  top: 0;
  margin-top: 15px;
  left: 25%;
  background-color: #ffffff;
  border-radius: 30px;
}

.login-left .logo {
  width: 50%;
}

.login-left h1 {
  font-size: 2rem;
}

.login-left p {
  font-size: 1rem;
  opacity: 0.8;
}

.login-right {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form {
  width: 100%;
}

.form label {
  font-weight: 500;
  margin-top: 15px;
  display: block;
}

.form input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.options {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
  font-size: 0.9rem;
}

.options a {
  text-decoration: none;
  color: #ff270a;
}

.buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.btn {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 2ms;
}

.btn.primary {
  background-color: #ff2323;
  color: white;
  transition: background-color 300ms, color 300ms, transform 300ms;
}

.btn.primary:hover {
  background-color: #e42020;
  color: white;
  transform: scale(1.1);
}

.social {
  text-align: center;
  font-size: 0.8rem;
}

.social .icons {
  margin-top: 8px;
}

.social .icons a {
  margin: 0 8px;
  color: #ff270a;
  text-decoration: none;
  font-size: 2rem;
}
